<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='utils.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="container container__nav">
        <div class="nav__logo">
          <h1>Thrill</h1>
        </div>
        <ul class="nav__links">
          {% if g.user %}
          <li><span>{{ g.user['username'] }}</span></li>
          <li><a href="{{ url_for('views.create') }}">Create</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{message}}</div>
    {% endfor %} {% block content %}{% endblock %}
    <script src="{{url_for('static', filename='masonry.js')}}"></script>
  </body>
</html>
