{% extends "base.html" %} {% block title %}Create - Thrill{% endblock %} {%
block content %}
<div class="container">
  <form method="post" enctype="multipart/form-data">
    <div class="post__title">
      <label for="title">Title:</label><br />
      <input type="text" id="title" name="title" value="{{ post['title'] }}" />
    </div>
    <div class="post__body">
      <label for="body">Description:</label><br />
      <textarea name="body" id="body">{{post['body']}}</textarea>
    </div>
    <div class="post__img">
      <label for="image">Image:</label><br />
      <input type="file" id="image" name="image" />
    </div>
    <input type="submit" value="Confirm" />
  </form>
  <form action="{{ url_for('views.delete', id=post['id']) }}" method="post">
    <input type="submit" value="Delete" />
  </form>
</div>
{% endblock %}
